<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Blog</title>
  {{!-- Foundation --}}
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  {{!-- FontAwesome --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  {{!-- My CSS --}}
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Tech Blog</a>
      <form class="d-flex">
        <div class="input-group input-group-rounded input-custom-size">
          <input class="input-group-field" type="search" placeholder="Search for a post...">
        </div>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      {{#if logged_in}}
      <li class="nav-item">
        <a class="nav-link" id="logout">logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/login">login</a>
      </li>
      {{/if}}
    </div>
  </nav>

  <!-- Render the sub layout -->
  {{{ body }}}

  <footer>
    {{!-- need footer --}}
  </footer>

  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>

</html>