<header>
  <h1>Login</h1>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10">
      <form class="form login-form">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="username-login">Username</label>
            <input type="text" class="form-control" placeholder="Username" id="username-login" required
              data-validation-required-message="Please enter your username.">
          </div>
        </div>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="password-login">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password-login" required
              data-validation-required-message="Please enter your password.">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
      </form>
      <hr>
      <p>Or signup <a href="/">here</a></p>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
